
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Manrope:wght@200..800&family=Patua+One&display=swap');



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(253, 235, 208);
    width: 100%;
    padding: auto;
    
}
header img{
    width: 420px;
    height: auto;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 235, 208);
    font-size: x-large
    
}

a {
    color: rgb(14, 13, 13);
    font-family: 'Didact Gothic';
    text-decoration: underline;
    margin-right: 50px;
}

.carousel-item img {
    filter: brightness(90%);
    background-color:rgb(224, 179, 226);
    width: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: rosybrown;
    font-family: 'Didact Gothic';
    color: beige;
    font-size: x-large;
    padding: 10px;
}
.caja{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(253, 235, 208)
    ;
    margin: 10px;
    padding: auto;
    font-family: 'Didact Gothic';
    color: antiquewhite;
    font-size: x-large;
}
.caja img{
    width: 100%;
    height: auto;
    margin: 20px;
}
.carousel img{
    width: 600px;
    height: auto;
}
    

.carousel{
    background-color: rgb(253, 235, 208);
    display: flex;
    justify-content: center;
    align-items: center;
}
